@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #d4d4d4;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
  height: 100vh;
}
body li {
  list-style: none;
}

.navbar {
  background: #2c2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navbar .container .navbar__logo {
  max-width: 103px;
  margin-left: 13vw;
}
.navbar .container .navbar__toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .container .navbar__toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul li {
  list-style: none;
}

.navbar-wrap {
  margin: 0 0 12px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-wrap .menu .menu__link {
  font-size: 20px;
  padding: 1.2rem;
  opacity: 0.9;
}
.navbar-wrap .menu .menu__link:hover {
  opacity: 1;
}

.menu__phone_image {
  margin-left: 50px;
  max-width: 20px;
  max-height: 23px;
}

.menu__phone {
  font-size: 20px;
  font-weight: 500;
}

.menu__counter {
  margin-left: 70px;
  position: relative;
}
.menu__counter #counter {
  display: inline;
}
.menu__counter .menu__shopping-card {
  margin-bottom: -5px;
  display: inline;
  max-width: 30px;
  height: 25px;
}

.menu__counter-mobile {
  display: none;
}

footer {
  position: relative;
  height: 118.8px;
  background-color: #2c2b2b !important;
}
footer .footer-info {
  position: absolute;
  top: 50%;
  left: 5%;
}
footer .footer-info .footer__image {
  max-width: 4%;
  max-height: 2%;
}
footer .footer__logo {
  position: absolute;
  left: 44%;
  max-width: 200px;
  max-height: 100px;
}
footer .footer-info_right {
  position: absolute;
  top: 50%;
  left: 80%;
}
footer .footer-info_right .footer__image {
  max-width: 8%;
  max-height: 8%;
}
footer .footer-info_bottom {
  position: absolute;
  top: 72%;
  left: 42%;
}

@media (max-width: 768px) {
  .navbar .container .menu__counter-mobile {
    display: inline;
  }
  .navbar .container .navbar__toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .container .hidden nabvbar__toggle-button {
    display: none;
  }
  .navbar .container .navbar__close {
    display: none;
  }

  .navbar-wrap {
    display: none;
  }

  .active {
    display: block;
  }
  .active .navbar-wrap {
    display: block;
    margin: 0 auto;
  }
  .active .navbar-wrap .menu {
    display: block;
  }
  .active .navbar-wrap .menu .menu__phone {
    display: none;
  }
  .active .navbar-wrap .menu .menu__counter {
    display: none;
  }
  .active .navbar-wrap .menu .menu__counter-mobile {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    opacity: 0.9;
  }
  .active .navbar-wrap .menu .menu__counter-mobile:hover {
    opacity: 1;
  }
  .active .navbar-wrap .menu .menu__phone_image {
    display: none;
  }
  .active .navbar-wrap .menu .menu__link {
    display: block;
    text-align: center;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 3px;
  }

  footer .footer__logo {
    left: 40%;
  }
  footer .footer-info_right {
    position: relative;
    display: block;
    top: 80%;
    left: 35%;
    font-size: 14px;
    max-height: 7vh;
  }
  footer .footer-info_right .footer__image {
    max-width: 3vw;
    max-height: 8%;
  }
  footer .footer-info_bottom {
    display: none;
  }
  footer .footer-info {
    display: block;
    top: 60%;
    left: 35%;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .navbar .container .navbar__toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-wrap {
    display: none;
  }

  .active {
    display: block;
  }
  .active .navbar-wrap {
    display: block;
  }
  .active .navbar-wrap .menu {
    display: block;
  }
  .active .navbar-wrap .menu .menu__phone {
    display: none;
  }
  .active .navbar-wrap .menu .menu__counter {
    display: none;
  }
  .active .navbar-wrap .menu .menu__phone_image {
    display: none;
  }
  .active .navbar-wrap .menu .menu__link {
    text-align: center;
    display: block;
  }
}
@media (max-width: 480px) and (max-width: 360px) {
  footer .footer-info {
    left: 20%;
  }
  footer .footer__logo {
    left: 30%;
  }
  footer .footer-info_right {
    left: 20%;
    top: 75%;
  }
}
.info-body {
  margin-top: 5vw;
  margin-left: 13vw;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3vw;
     -moz-column-gap: 3vw;
          column-gap: 3vw;
  row-gap: 30px;
}
.info-body__form {
  max-width: 530px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}
.info-body__form .input {
  position: relative;
}
.info-body__form input {
  width: 100%;
  height: 42px;
  outline: none;
  border: none;
  margin: 20px 0;
  border-bottom: 1px solid black;
  padding-left: 2%;
}
.info-body__form textarea {
  border: none;
  margin-top: 20px;
  font-size: 16px;
  width: 500px;
  padding: 0 2%;
  outline: none;
}
.info-body__form .input__label {
  position: absolute;
  left: 0;
  border-bottom: 2px solid black;
  background-color: #fff;
}
.info-body__contacts {
  margin-left: 5vw;
}
.info-body__contacts .contact {
  margin: 1vw auto;
}
.info-body__contacts span {
  font-weight: 600;
}
.info-body h1, .info-body h3, .info-body input, .info-body textarea, .info-body span, .info-body a, .info-body label {
  color: black;
}

@media (max-width: 480px) {
  .info-body__form {
    max-width: 330px;
    background-color: #fff;
    border-radius: 5px;
  }
  .info-body__form textarea {
    max-width: 280px;
    padding-left: 2%;
  }
}
@media (max-width: 480px) {
  .info-body__form {
    width: 262px;
  }
  .info-body__form textarea {
    width: 220px;
  }
}