@import 'header&footer.scss';

#counter{
    color:#fff;
}
p{
    text-align:center;
    color:black;
}
.cart-body{
    margin: 5vw 5vw 10vw $mrgleft;
.items{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:center;
    column-gap:20px;
    row-gap: 50px;
    .empty {
        margin-left:$mrgleft*2.4;
        margin-top: 100px;
        color: black;
        text-align:center;
        font-size:20px;
        font-weight:400;
    }

.items__product {
    position: relative;
    &:hover{
        transform: scale(101%) translateY(-1%);
        transition: all ease-in-out .3s;
    }
    img{
    max-width: 248px;
    max-height:250px;
    border-radius:10px;
}
    .product__image{
        width:248px ;
        height: 300px;
    }
    .product__caption{
        color:black;
    }
    .product__amount{
        color:black;
    }
    .product__delete{
        position: absolute;
        top:0%;
        left:0%;
        background-color:#940000 ;
        border:none;
        padding: 5px 10px 5px 10px;
    }
    .product__purchase{
        position: absolute;
        background-color:#940000 ;
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        font-size: 20px;
        left:29%;
        &:hover{
            background-color: darkorange;
            transform: scale(105%);
            transition: all ease .3s;
        }
     }
    }
}

}
@media (max-width: 768px) {
    .cart-body{
    margin:5vw 5vw 10vw 17vw;
    }
}

@media (max-width: 575px) {
    .cart-body{
    margin:5vw 5vw 10vw 28vw;
    }
}

@media (max-width: 480px) {
    .cart-body{
    margin:5vw 5vw 10vw 24vw;
    }
}
