@import 'header&footer.scss';

#counter{
    color:#fff;
}
p{
    text-align:center;
    color:black;
}
.cart-body{
    margin: 5vw 5vw 10vw $mrgleft;
.items{
    // margin:150px 0 100px $mrgleft;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:center;
    column-gap:20px;
    row-gap: 50px;
    .empty {
        // margin: 50px 500px  100px 0;
        margin-left:$mrgleft*2.4;
        margin-top: 100px;
        color: black;
        text-align:center;
        font-size:20px;
        font-weight:400;
    }

.items__product{
    position: relative;
    list-style:none;
    img{
    max-width: 248px;
    max-height:250px;
}
    .product__image{
        z-index:-1;
    }
    .product__caption{
        color:black;
    }
    .product__amount{
        color:black;
    }
    .product__delete{
        position: absolute;
        top:0%;
        left:0%;
        background-color:#940000 ;
        // color:#fff;
        border:none;
        padding: 5px 10px 5px 10px;
    }
    .product__purchase{
        position: absolute;
        background-color:#940000 ;
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        font-size: 20px;
        left:29%;
     }
    }
}

}

