@import 'header&footer.scss';

.info-body{
    margin-top:5vw;
    margin-left: $mrgleft;
    margin-bottom: 100px;
    display:flex;
    flex-wrap:wrap;
    column-gap:3vw;
    row-gap: 30px;

    &__form {
        max-width: 530px;
        background-color: #fff;
        border-radius: 5px;

        padding:30px;
        .input{
            position: relative;
        }    

        input {
            width:100%;
            height: 42px;
            outline:none;
            border:none;
            margin: 20px 0; 
            border-bottom:1px solid black;
            padding-left: 2%;
        }
        textarea{
            border:none;
            margin-top:20px ;
            font-size: 16px;
            width:500px ;
            padding:0 2%;
            outline:none;
        }
        .input__label{
            position: absolute;
            left: 0;
            border-bottom: 2px solid black;
            background-color: #fff;
        }

    }
    &__contacts{
        margin-left: 5vw;
        .contact{
            margin: 1vw auto;
        }
        span{
            font-weight:600;
        }

    }


    h1,h3,input,textarea,span,a,label{
        color:black;
    }
}

@media (max-width:480px){
    .info-body__form {
        max-width: 330px;
        background-color: #fff;
        border-radius: 5px;
        textarea{
            max-width:280px ;
            padding-left: 2%;
        }
        }
}

@media (max-width:480px){
    .info-body{
        &__form{
            width:262px;
            textarea{
                width:220px;
            }
        }
    }

}

