@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
$bgcolor:#2c2b2b;
$mrgleft:13vw;
$vratio: 1.08;
$hratio: 1.7;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#fff; 
    box-sizing:border-box;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #d4d4d4;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    height: 100vh;
    li {
        list-style:none;
    }
}


.navbar{
    background: $bgcolor;
    display: flex;
    align-items: center;
    flex-direction: row;

.container {
.navbar__logo{
   max-width: 103px;
    margin-left:$mrgleft;
}
    .navbar__toggle-button{
        position: absolute;
        top:0.75rem;
        right: 1rem;
        display:none;
        flex-direction: column;
        justify-content:space-between;
        width:30px;
        height: 21px;
        .bar{
            height:3px;
            width: 100%;
            background-color: #fff;
            border-radius:10px;
        }
       }
    }
}

ul{
    display: flex;
    li{
        list-style: none;
    }
}

.navbar-wrap {
    margin: 0 0 12px 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
.menu{

        .menu__link{
       font-size: 20px;
       padding:1.2rem;
       opacity: 0.9;
       // display:block;
       &:hover{
           opacity:1 ;
       }
    }
     }
}


.menu__phone_image{
    margin-left: 50px;
    max-width: 20px;
    max-height:23px;
}
.menu__phone{
    font-size: 20px;
    font-weight: 500;
 }

.menu__counter{
    margin-left:70px;
    position: relative;
#counter{
        display:inline;
    }
    .menu__shopping-card{
        margin-bottom: -5px;
        display: inline;
    max-width: 30px;
    max-height: 60px;
    }
}



footer {
    position: relative;
    height: 110px * $vratio;
    background-color: $bgcolor !important;
    background: url('/images/logo.png') center no-repeat;
    background-size: 30% 130% ;
    .footer-info{
        position: absolute;;
       top:50%; 
       left:5% ;
    .footer__image{
        max-width: 2%;
        max-height:2%;
    }
}

.footer-info_right{
        position: absolute;;
       top:50%; 
       left:80%;
    .footer__image{
        max-width: 8%;
        max-height:8%;
    }
}

.footer-info_bottom{
    position: absolute;
    top:72%;
    left: 42%;
}
}


@media  (max-width: 768px) {
    
    .navbar{
        .container{
            .navbar__toggle-button{
                display: flex;
     }
    }
}

.navbar-wrap{
    display:none;
}
.active {
    display: block;
    .navbar-wrap{
        display: block;
        .menu{
            display: block;
            .menu__phone {
                display:none;
            }
            .menu__counter{
                display:none;
            }
            .menu__phone_image{
                display:none;
            }
                .menu__link{
                    display:block;
            }
        }
    }
}
footer {.footer-info_right{
       position: relative; 
    display: block;
    top:80%;
    left:30%;
    .footer__image{
        max-width: 2vw;
        max-height:10%;
    }
}

.footer-info_bottom{
    display:none;
    top:75%;
    left:32%;

}
.footer-info{
     top:65%; 
       left:30% ;

    display:block;
}


     }
 }


@media (max-width: 575px) {
 .navbar{
        .container{
            .navbar__toggle-button{
                display: flex;
     }
    }
}

.navbar-wrap{
    display:none;
}
.active {
    display: block;
    .navbar-wrap{
        display: block;
        .menu{
            display: block;
            .menu__phone {
                display:none;
            }
            .menu__counter{
                display:none;
            }
            .menu__phone_image{
                display:none;
            }
                .menu__link{
                    display:block;
            }
        }
    }
}


}
