@import 'header&footer.scss';
h1{
    color:black;
    margin:30px 0 0  $mrgleft;
}
.news-wrapper{
    margin-left:11.5vw;
    // margin:0 auto;
    padding: 5vh;
    display:flex; 
    // justify-content: center;
    // align-items: center;

}
.news-wrapper {
    a {
    color: black;
    text-align:center;
    display: block;
    font-size:18px;
    font-weight:500;

}
time{
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight:600;
    display:block;
}
}
#counter {
    color:#fff;
}

.news{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap: 2.5vw;
    row-gap: 12vh;
    .news__content-wrapper{
        .image-wrapper{
            display:flex;
            align-items:center;
            padding: 20px;

        }
        border-radius:10px;
        width: 350px;
        height: 350px;
        background-color: #fff;
        &:hover{
            transform: translateY(-0.5vw);
            transform: scale(105%);
            transition: all ease 0.3s ;
        }
   
    img{
        margin:0 auto;
        border-radius:10px;
        width:320px;
        height: 250px;
    }
}

}
