@import 'header&footer.scss';

.shop-body {
    margin-left: $mrgleft;
}
.search-form {
    margin: 8% 70% 100px 0;
    position: relative;
    input {
        width: 100%;
        border:none;
        background-color: #d4d4d4;
        color: black;
        outline:none;
}
    .search-form__label{
         position: absolute;
         bottom: 0px;
         left: 0%;
         width: 19vw;
         height: 100%;
         pointer-events:none;
         border-bottom:2px solid black;


}
         &:after{
             content: "";
             position: absolute;
             width: 100%;
             height: 100%;
         }  
            .search-form__content {
                position: absolute;
                bottom:5px;
                left:0px;
                font-weight:400;
                color:black;
                transition: all 0.3s ease;
        }

    }
// }

.search-form input:focus  + .search-form__label .search-form__content, 
.search-from input:valid + .search-form__label .search-form__content{
    transform: translateY(-100%);
    font-size: 14px;
    color:grey;
}

.hide {
    margin-top: -100px;
    position: absolute;
    display:none;
    z-index: -1;
}
.content {
    display:flex;
    min-width: 0;
.swiper {
    min-width: 0;
    position: relative;
    padding: 0 10vw;

.swiper-slide {

    position: relative;
    &:after {
        content:"sale";
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
        width: 40px;
        height: 30px;
    }
    img {
        position: relative;
    max-width: 145px * 1.7;

            }
        }
    }
}

.slick-slider{
    margin-left:3vw;
}
.slick-list {
    overflow:hidden;

}

.slick-track {
    display: flex;
}

.slick-arrow{
    position:absolute;
    top:50%;
    z-index: 10;
    padding: 10px;
    font-size: 0;
    }

.slick-prev{
    background: url('/images/button-right.svg') center no-repeat;
    background-color: #fff;
    left:5%;
    width:10px;
    height: 10px;
    border-radius:50px;
    padding: 20px;
    border:none;
    transform:rotate(180deg)
    }

.slick-next{
        background: url('/images/button-right.svg') center no-repeat;
        background-color:#fff;
        right:7% ;   
        height: 10px;
        width:10px;
        border-radius: 50px;
        border:none;
        padding: 20px;
}

.content {
    margin-left: -13vw;
    margin-bottom:50px;
    margin-right: 3.4vw;
}

.items{
    .items__product-name{
        margin-top:1vw;
        color: black;
        display: block;
        position: relative;
        font-weight: 500;
        text-align: center;
    }
}

body h1{
    color:black;
   font-weight:400;
}



.items {
    display:flex;
    flex-wrap:wrap; 
    column-gap:34px;    
    row-gap: 64px * $vratio;
    &__wrapper {

        max-width: 145px*1.7;
        position: relative;
&:hover{
        transform: translateY(-15px);
        transform: scale(105%);
        transition: all ease-in-out .3s;
        }

&:after{
            content:"new";
            display: block;
            background-color: #ca0000;
            position: absolute;
            width: 40px;
            height: 30px;
            top:0;
            left:0;
        }


    }

}

        
.items__product{
        border-radius: 10px;
        max-width: 145px*1.7;
        
        &-name{
            margin-top: 5px;
            font-weight: 600;
            
        }
    }
        


            
        
        

.more {
    display: block;
    margin:15vh 0 25vh 44vw;
    
    background-color:#b4b4b4; 
    color: black;
    font-size: 16px * $vratio;
    font-weight: 400;
    padding: 10px 40px 10px 40px;
    border: 0;

    }

    @media (max-width: 575px){
.slick-slider {
    margin-left: 13vw;
}
.swiper-slide {
    img {
        margin-left: 9vw;
        max-width: 300px;
    }
}

}
 @media (max-width: 768px){
.slick-slider {
    margin-left: 13vw;
}
.swiper-slide {
    img {
        margin-left: 9vw;
        max-width: 300px;
    }
}
.items {
    column-gap:8vw;
    .items__product{
        max-width: 35vw;
        min-width:200px;
    }
}

.items__product-name{
    font-size:14px;
}
.more{
    margin: 10vh auto;
}
.content .swiper .swiper-slide {
    position: relative;
    &:after {
        content:"sale";
        position: absolute;
        left: 14%;
        top: 0;
        background-color: red;
        width: 40px;
        height: 30px;
    }
 
    }
    .slick-next {
        left:75%
    }

}
@media (max-width: 360px){

    .items{
        .items__wrapper{
            width: 280px;
    .items__product{
        max-width: 260px ;
    } 
    }
    }


.content .swiper .swiper-slide {
    position: relative;
    width: 200px;
    &:after {
        content:"sale";
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
        width: 40px;
        height: 30px;
    }
 
    }

.swiper-slide {
    img {
        margin-left: 0vw;
        max-width: 300px;
    }
    .swiper-slide .slick-slide .slick-current .slick-active{
        width: 300px;
    }

}

.slick-slider {
    margin-left: 5vw;
    margin-right: 5vw;
}
.slick-next{
    left: 90%;
}
.slick-prev{
    left: -4%;
}
.swiper .slick-initialized .slick-slider{
    margin-left:-5vw;
}
}




